<div class='show-project'>
  <div class='heading'>
    <h2>{{controller.model.project.name}}</h2>
    <div class='content'>
      {{controller.model.project.description}}
    </div>
  </div>

  <div class='ideas'>
    {{#if controller.model.ideas}}
      {{#each idea in controller.model.ideas}}
        <div class='idea'>
          {{#link-to 'idea.index' idea}}
            <h2>{{idea.name}}</h2>
          {{/link-to}}
          <div class='content'>
            <p>Score: {{idea.score}}</p>
            <p>{{{idea.description}}}</p>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class='idea'>
        <h2>No ideas yet</h2>
        <div class='content'>
          <p>Maybe you should add one now.</p>
          {{#link-to 'ideas.new'}}
            Create new idea
          {{/link-to}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="search">
    <h2>Search and Sort</h2>
  </span>
</div>
