<div class='show-project'>
  <div class='heading'>
    <h2>{{controller.model.project.name}}</h2>
    <div class='content'>
      {{controller.model.project.description}}
    </div>
  </div>

  <div class='ideas'>
    {{#each controller.model.ideas}}
      <div class='idea'>
        <h2>{{name}}</h2>
        <div class='content'>
          <p>Score: {{score}}</p>
          <p>{{{description}}}</p>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="search">
    <h2>Search and Sort</h2>
  </span>
</div>
