<div class='show-idea'>
  <div class='heading'>
    <h2>{{model.idea.name}}</h2>
    <div class='content'>
      {{model.idea.description}}
    </div>
  </div>

  <div class='comments'>
    <div class='list'>
      <h2>Discussion for reals</h2>
      {{#each model.idea.comments}}
        <div class='comment'>
          <div class='content'>
            {{{comment}}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class='comment-form'>
      <h2>Leave your thoughts</h2>
      <form class='content' {{action 'save' on='submit'}}>
        {{partial 'shared/form-errors'}}
        {{textarea value=newComment}}
        <button type="submit">Save</button>
      </form>
    </div>
  </div>

  <div class="search">
    <h2>Search and Sort</h2>
  </div>
</div>
